<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Article Form</title>
</head>

<body>
    <div class="container">

        <h1 class="" style="justify-content: center;text-align: center;"> ARTICLE DASHBOARD </h1><br>
        <a class="btn btn-info" href="/article/">View Articles</a>
        <a class="btn btn-info" href="/notification_report/">Notification Report</a><br>
        <form class="form" id="myForm" action="/" method="POST">
            <label class="control-label col-sm-3" for="article-title">Article Heading:</label><br>
            <input type="text" id="article-title" class="form-control" name="article_title"><br>

            <label class="control-label col-sm-3" for="article">Article Summary:</label><br>
            <textarea id="article" class="form-control" name="articlebody" rows="5" cols="5"></textarea><br>

            <label class="control-label col-sm-3" for="article-img">Article Image Url:</label><br>
            <input type="text" id="article-img" class="form-control" name="article_img_url"><br>

            <label class="control-label col-sm-3" for="notification-text">Notification Text:</label><br>
            <input type="text" id="notification-text" class="form-control" name="notification_text"><br>

            <label class="control-label col-sm-3" for="main-source">Main Source:</label><br>
            <input type="text" id="main-source" class="form-control" name="main_source"><br>
            <br>
            <input type="submit" class="form-control btn-primary btn" id="sub" value="Submit">
        </form>
        <br>
        <br>

    </div>
</body>
<script type="text/javascript">

</script>

</html>