<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Report Stats</title>
    <link rel="icon" type="image/png" href="img/icons/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.11.0/sweetalert2.all.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Notification Stats </h1>
        <a class="btn btn-primary" style="justify-content: right;text-align: right;" href="/">Add Articles</a>
        <table class="table table-striped">
            <thead>
                <th>Sr No.</th>
                <th>Email</th>
                <th>Reponse</th>
            </thead>
            <tbody>
                <% notification_stats.forEach(function(element,i){ %>
                <tr>
                    <td><%= i %></td>
                    <td><%= element['name'] %></td>
                    <td><%= element['notification_response'] %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>