<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Article</title>
</head>
<body>
    <h1>Display Articles</h1>
    <table>
        <thead>
            <th>Articles</th>
        </thead>
        <tbody>
                <% articles.forEach(function(check){ %>
                    
                    <tr>    
                    <td><%= check.articlebody %></td>
                    <td><a><button>Edit</button></a></td>
                    <!-- <td><a><button>View</button></a></td> -->
                    <td><a><button>Delete</button></a></td>
                </tr>
                  <% }); %>
           
        </tbody>

    </table>
    <ul>
      
    </ul>
</body>
</html>